* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center; */
  background-color: black;
  /* background-image: linear-gradient(#e3d5c1 90%, #8f0000) */
}

.insider {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid black;
  background-color: #e3d5c1;
}

header {
  margin-top: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.game-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -130px;
}

.maze {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  border: 10px solid #8f0000;
  border-radius: 15px;
}

.maze div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  color: rgb(92, 21, 21);
  text-align: center;
}

.right {
  width: 400px;
  text-align: center;
  border: 1px solid red;
  margin-left: 50px;
}

.maze div.matrushka {
  /* background-color: purple; */
  background-image: url('../images/Hero.png');
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.maze div.enemy {
  background-color: black; 
}

.maze div.obstacle {
  background-color: #8c8670;
  background-image: linear-gradient( black);
}

.maze div.points {                                          /* Little Babushka */
  /* background-image: url('../images/rsz_clipartkey_1773009.png');
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50%; */
  background-image: radial-gradient(#8f0000 20%, transparent 20%);
  
}

.maze div.bigPoints {                                       /* Small Babushka */
  background-image: url('../images/rsz_clipartkey_1773009.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
}

/* div#backgroundBabushka {
  background-image: url('ClipartKey_1041184.png');
} */

.audio-image {
  position: absolute;
}

