* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #e3d5c1;
}

main {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.game-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maze {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  border: 5px solid #8f0000;
  border-radius: 10px;
}

.maze div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  color: rgb(92, 21, 21);
  text-align: center;
}

.desno {
  width: 200px;
  text-align: center;
}

.maze div.matrushka {
  background-color: purple;
  cursor: pointer;
}

.maze div.enemy {
  background-color: black; 
}

.maze div.obstacle {
  background-color: #8f0000;
}

.maze div.points {
  /* background-image: url('../images/coin.gif');
  background-size: contain; */
  background: yellow;
}

.maze div.bigPoints {
  background-image: url('../images/heart\ \(1\).gif');
  background-size: contain;
}


// 3 - Little Babushka aka Food
  // 4 - Extra big Babushka aka Big Food