* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center; */
  background-color: black;
  /* background-image: linear-gradient(#e3d5c1 90%, #8f0000) */
}

/* .outer {
  height: 100vh;
  background-image: url();
} */

.insider {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid black;
  background-color: #e3d5c1;
}

.insider::after {
  content: '';
  background-image: url('../images/vintage-concrete.png');
  height: 100%;
  width: 100%;
  opacity: 0.3;
  /* position: fixed; */        /* Preventing button from clicling on  */
}

main {
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

h1 {
  font-size: 80px;
}

.game-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -205px;
}

.maze {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  border: 10px solid #8f0000;
  border-radius: 15px;
  margin-top: 50px;
}

.total-lifes {
  display: flex;
  justify-content: center;
}

.three-lifes {
  width: 60px;
  height: 60px;
  border: 1px solid blue;
  margin-right: 10px;
  background-image: url('../images/Hero.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

.two-lifes {
  width: 60px;
  height: 60px;
  border: 1px solid blue;
  margin-right: 10px;
  background-image: url('../images/Hero.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

.one-life {
  width: 60px;
  height: 60px;
  border: 1px solid blue;
  background-image: url('../images/Hero.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%;
}

.maze div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  color: rgb(92, 21, 21);
  text-align: center;
}

.right {
  width: 400px;
  text-align: center;
  border: 1px solid red;
  margin-left: 75px;
  height: 500px;
  margin-bottom: 170px;
  margin-top: -50px;
}

.lives {
  width: 400px;
  height: 100px;
  border: 1px solid yellow;
}

.maze div.matrushka {
  /* background-color: purple; */
  background-image: url('../images/Hero.png');
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.maze div.enemy {
  background-color: black; 
}

.maze div.nixon {
  background-color: black;
}

.maze div.bushSr {
  background-color: yellow;
}

.maze div.truman {
  background-color: blue;
}

.maze div.trump {
  background-color: red;
}

.maze div.obstacle {
  background-color: #8c8670;
  background-image: linear-gradient( black);
}

.maze div.points {                                          /* Little Babushka */
  /* background-image: url('../images/rsz_clipartkey_1773009.png');
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50%; */
  background-image: radial-gradient(#8f0000 20%, transparent 20%);
  
}

.maze div.bigPoints {                                       /* Small Babushka */
  background-image: url('../images/rsz_clipartkey_1773009.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
}

/* div#backgroundBabushka {
  background-image: url('ClipartKey_1041184.png');
} */

.audio-image {
  position: absolute;
}

.middle-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
} */

.up-arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 75px;
  height: 40px;
  margin-left: 161px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 75px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 75px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 10px;
}

.down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 75px;
  height: 40px;
  margin-left: 161px;
  border-radius: 5px;
}

button {
  width: 100px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 400px;
  margin-top: 130px;
}

.countingPoints {
  display: flex;
  width: 200px;
  border: 1px solid black;
  margin-top: 20px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.outer {
  cursor: url('../images/MatrushkaCursor.png'), auto;
}

#babushkaCursor {
  cursor: url('../images/Hero.png'), auto;
}